<div class="form">
  <h2 class="title">Create account</h2>
  <span>First Name</span>
  <input type="text" class="f-name">
  <span class="error error-f-name">! Enter your first name</span>
  <span>Last Name</span>
  <input type="text" class="l-name">
  <span class="error error-l-name">! Enter your last name</span>
  <span>Your Email Address</span>
  <input type="text" class="email">
  <span class="error error-email">! Enter your email</span>
  <span>Set a Password</span>
  <input type="text" class="password">
  <span class="error error-password">! Enter a password</span>
  <input class="submit" type="submit" value="SING IN"/>
</div>