// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------



/// Regular font family
/// @type List
$text-font-stack: 'Open Sans', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif !default;

/// Code (monospace) font family
/// @type List
$code-font-stack: 'Courier New', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Monaco', monospace !default;

///
/// Font Sizes
/// 
///
$font-sizes: (
  'metadata': 12px,
  'navbar': 16px,
  'text': 16px
) !default;


//// ------------------------ COLOURS --------------------

///
/// Colours
/// 
$colors-palette: (
  'light-grey': rgb(237, 237, 237),
  'mid-grey': rgb(153, 153, 153),
  'dark-grey': rgb(68, 68, 68),
  'orange': rgb(255,152,0)
) !default;



///
/// Theme Colors
///

$primary-color: map-get($colors-palette, "mid-grey") !default;

$secondary-color: map-get($colors-palette, "light-grey") !default;

$accent-color: map-get($colors-palette, "orange") !default;

$background-color: map-get($colors-palette, "light-grey") !default;

$menu-color: map-get($colors-palette, "dark-grey") !default;

$text-color: map-get($colors-palette, "dark-grey") !default;

$text-light-color:map-get($colors-palette, "light-grey") !default;

$a-color: $text-color !default;

$footer-color: map-get($colors-palette, "dark-grey") !default;


// ------------------------------------------------------------


/// Container's maximum width
/// @type Length
$max-width: 1180px !default;

$gutter : 40px; /* Gutter of the grid */
$gutter-mobile : 20px; /* Gutter of the grid */




/// Relative or absolute URL where all assets are served from
/// @type String
/// @example scss - When using a CDN
///   $base-url: 'http://cdn.example.com/assets/';
$base-url: '/assets/' !default;


///
/// Layers of the website
/// So I don't have to use z-index but instead I specify a layer.
/// 
///
$layers: (
  'base': 0,
  'navigation': 100,
  'modal': 200,
  'alert': 300
) !default;
